@use "../../styles/partials//mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles//partials/colors" as *;
@use "../../styles/partials/paddings" as *;


.link {
    text-decoration: none;
    height:300px;
}

.menu-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 65px 10px 50px;


    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 410px;

        &-logo {
            font-size: 22px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            transform:scale(3,1);
            -webkit-transform:scale(1.2,1);
            letter-spacing: 3px;
        }

        & span {
            color:#1dc0f2;
        }
    }

    &__location {
        display:flex;
        align-items: center;
    }
}

.menu {
    display: flex;
    justify-content: center;
    background-color: rgb(244, 244, 244);


    &-display {
        display: flex;
        align-items: flex-start;
        width: 190%;

        &__categories {
            height: 100%;
            width: 900px;
            padding: 1rem 0rem 0 1.2rem;
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            gap:1rem;
            background-color: white;


            &-select {
                display:flex;
                justify-content: flex-start;
                align-items: center;
                width: 160px;
                height:35px;
                border-radius:50px;
                transition: 200ms;

                &:hover {
                    cursor:pointer;
                    background-color: rgb(4, 151, 1);
                    color:white;
                }
            }
        
    
            & p {
                margin: 1rem 1rem 1rem 1rem;
            }
        }
    
        &__items {
            display:flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 1rem 1rem 0 2rem;
            gap: 1rem;
        }
    }

    &-cart {
        width: 45%;
        display:flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        height:91vh;
        margin: 1rem 1rem 0 0rem;

        &__order {
            width: 260px;
            display:flex;
            justify-content: space-between;

            &-title {
                font-weight: 700;
                font-size: 30px;
            }

            &-number {
                font-weight: 400;
                font-size: 30px;
            }
        }
        

        &__btn {
            width: 100%;
            max-width: 290px;
            height:40px;
            padding: 10px;
            border-radius: 10px;
            border:none;
            color:white;
            background-color: rgb(4, 151, 1);
            transition: 200ms;

            &:hover {
                cursor:pointer;
                background-color: white;
                color: rgb(4, 151, 1);
                border: 2px solid rgb(4, 151, 1);
            }
        }

        &__checkout {
            width: 260px;
            display: flex;
            justify-content: space-between;

            &-title {
                color: rgb(153, 153, 153);
            }
        }
    }
}

#selected {
    background-color: rgb(4, 151, 1);
    color:white;
}