@use "../../styles/partials//mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles//partials/colors" as *;
@use "../../styles/partials/paddings" as *;


.link {
    text-decoration: none;
    height:300px;
}

.menu-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 65px 10px 50px;


    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 410px;

        &-logo {
            font-size: 22px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            transform:scale(3,1);
            -webkit-transform:scale(1.2,1);
            letter-spacing: 3px;
        }

        & span {
            color:#1dc0f2;
        }
    }

    &__location {
        display:flex;
        align-items: center;
    }
}

.menu {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 10px;
    background-color: rgb(246, 246, 246);


    &-display {
        display: flex;
        // justify-content: center;
        align-items: flex-start;
        width: 190%;

        &__categories {
            width: 500px;
            padding:10px 0px 10px 20px;
            display:flex;
            flex-direction: column;
            align-items: flex-start;

            &-select:hover {
                cursor:pointer;
            }
    
            & p {
                margin: 1rem 1rem 1rem 1rem;
            }
        }
    
        &__items {
            flex-wrap: wrap;
            display:flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    &-cart {
        width: 55%;
        display:flex;
        align-items: center;
        flex-direction: column;

        &__order {
            width: 260px;
            display:flex;
            justify-content: space-between;

            &-title {
                font-weight: 700;
                font-size: 30px;
            }

            &-number {
                font-weight: 400;
                font-size: 30px;
            }
        }
        

        &__btn {
            width: 100%;
            max-width: 260px;
            height:40px;
            padding: 10px;
            border-radius: 10px;
            border:none;
            color:white;
            background-color: rgb(255, 136, 0);
            transition: 200ms;

            &:hover {
                cursor:pointer;
                background-color: white;
                color: rgb(255, 136, 0);
                border: 2px solid rgb(255, 136, 0);
            }
        }

        &__checkout {
            width: 260px;
            display: flex;
            justify-content: space-between;

            &-title {
                color: rgb(153, 153, 153);
            }
        }
    }
}