.link {
    text-decoration: none;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


   &-categories {
        display:flex;

        & p {
            margin: 0 1rem 0 1rem;
        }
    }

    &-items {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}