.item {
    display:flex;
    flex-direction: column;
    align-items: center;
    color:black;
    background-color: white;
    width: 260px;
    height:260px;
    padding: 1rem 0 0 0;
    border-radius: 30px;


    &-name {
        font-size: 22px;
    }

    &-price {
        color: rgb(4, 151, 1);
        font-size: 15px;
    }

    & p {
        margin:0.5rem 0 0.5rem 0;
    }

    & img {
        max-width: 150px;
    }

    &-details {
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 160px;

        &__calories {
            width:100px;
            background-color: rgb(219, 219, 219);
            border: none;
            height: 36px;
            border-radius: 50px;
            font-size: 15px;
        }
    }
}