.item {
    display:flex;
    flex-direction: column;
    align-items: center;
    color:black;
    margin:0rem 3rem 0rem 3rem;
    height:400px;


    &-name {
        font-size: 20px;
    }

    &-price {
        color: rgb(219, 133, 13);
    }

    & p {
        margin:0.5rem 0 0.5rem 0;
    }

    & img {
        max-width: 150px;
    }
}